* {
  box-sizing: border-box;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #262525;
}
.header {
  background: #383838;
  border-bottom: 1px solid #383838;
  margin-bottom: 20px;
}
.header__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin: 0 20px;
}
.header__link {
  transition: all 0.3s ease-out;
  text-decoration: none;
  height: 100%;
  align-items: center;
  display: inline-flex;
  position: relative;
  padding: 0 20px;
}
.header__link:hover {
  background: #262525;
}
.header .highlight {
  font-size: 30px;
}
.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.instagram__link {
  position: relative;
  margin: 10px 0;
}
.instagram__overlay {
  transition: all 0.3s ease-out;
  background: #262525;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.instagram__overlay:hover {
  opacity: 0;
}
