* {
  box-sizing: border-box;
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #222;
}
p {
  line-height: 30px;
}
.header {
  background: #333;
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
}
.header__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin: 0 20px;
}
.header__link {
  transition: all 0.3s ease-out;
  text-decoration: none;
  height: 100%;
  align-items: center;
  display: inline-flex;
  position: relative;
  padding: 0 20px;
}
.header__link:hover {
  background: #222;
}
.header .highlight {
  font-size: 30px;
}
.instagram {
  margin: 0 auto;
}
.instagram__link {
  margin-bottom: 10px;
}
.instagram__wrapper {
  position: relative;
}
.instagram__overlay {
  transition: all 0.3s ease-out;
  background: #222;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.instagram__overlay:hover {
  opacity: 0;
}
.about {
  margin-left: 50%;
  transform: translateX(-50%);
}
.about__title {
  margin-bottom: 20px;
  text-align: center;
}
.about__projects {
  margin-left: 20px;
}
