header.header
  nav
    -
      var links = [
        {
          name: 'DR',
          href: '/',
          class: 'highlight'
        },
        {
          name: 'Medium',
          href: 'https://medium.com/@danielrohers'
        },
        {
          name: 'Instagram',
          href: 'https://www.instagram.com/danielrohersphotos'
        }
      ]
    ul.header__links
      each link in links
        li
          a(href=`${link.href}` class=`header__link ${link.class || ''}`) !{link.name}
